<!DOCTYPE html>
<html>
<head>
  <title>Petflow</title>
  <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
  <script src="http://handsontable.com/lib/jquery.min.js"></script>
  <script src="http://handsontable.com/dist/jquery.handsontable.full.js"></script> 
  <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.js"></script>
</head>
<body>
  <nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Petflow Data</a>
      </div>

        <!-- Left Nav Section -->
        <ul class="nav navbar-nav">
          <li><a href="/campaigns" class="dropdown-toggle" data-toggle="dropdown">Campaigns <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/campaigns/">Table</a></li>
              <li><a href="/campaigns/graph">Graph</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="/group_campaigns" class="dropdown-toggle" data-toggle="dropdown">Group Campaigns <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/group_campaigns/">Table</a></li>
              <li><a href="/group_campaigns/graph">Graph</a></li>
            </ul>
          </li>
        </ul>
        
        <!-- Right Nav Section --> 
       
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>

            <li>
              <%= link_to("Sign Out", destroy_user_session_path, method: :delete) %>
            </li>
          <% else %>
            <li><a href="/users/sign_in">Sign In</a></li>
          <% end %>
        </ul>
    </div>
  </nav>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
